<a href="https://colab.research.google.com/github/erikdanielson/database_sql/blob/main/Database_and_SQL_Final_Project_Pt_3_erik_danielson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Database and SQL Final Project (Part 3)

##Name: 

**Make sure to "save" a copy of this file to your own account.**
**NOTE: Please include ALL of the parts of your final project (1, 2, and 3) for this submission, as this will be the last lab!**.

Exam 3 for the course will take the form of a “final project” where you will take a set of business rules (which you can find  below). and do the following.


1.	Formulate business rules
2.	Construct an ERD from a set of business rules
3.	Specify the relational schema
4.	Discuss whether this schema meets the 1N, 2N, and 3N normal forms
5.	Create the tables using SQL queries
6.	Run sample SQL queries that demonstrate your ability to
  
  a.	Create table with primary keys and multiple data types

  b.	Join tables with foreign keys

  c.	Insert sample data into tables

  d.	Update existing data in the table

  e.	Delete data from the table
7.	Run sample SQL queries that demonstrate your ability to do the following:

  a.	Simple single table queries

  b.	Single-table queries with WHERE and LIKE

  c.	Single-table queries with aggregate functions

  d.	Single table queries with GROUP BY

  e.	Single-table queries with HAVING

  f.	Subqueries

  g.	Simple multi-table queries with JOIN

  h.	More complex multi-table queries

  i.	The creation of table views
  
  j.	The creation of indexes
8.	Discuss your process of database design and implementation using the Software Development LifeCycle Model 
9.	Do something unique! You could do ONE of the following, or something else:

  a.	Build some indexes and analyze query performance

  b.	Figure out how to add a JSON column, and insert data

  c.	Write a PL/SQL functions or trigger and show how to use it

  d.	Expand the data model to include subtypes and supertypes

  e.	Let your creativity shine!
10.	Save this project as a portfolio-quality work to Github, which you can then share with me (and with future employers, if you would like).
The overall project is worth 100 points. We’ll be working on pieces of this for each of our “labs” from now until the end of the semester.


**Other Guidelines** Here are the guidelines for working on the project:

1. Each week, you should share your project with me to show me how you're doing. If you complete the required steps for that week, you'll receive full credit for the lab.
2. You are welcome to discuss your project with either me or your peers. However, your final work (for example, the ER diagram,  SQL code, etc.) should represent your *own* response. 
3. Each "step" in the lab will be worth ten points total (for a total of 100 points).

#Load Postgres (Run This Cell)

In [ ]:
# Some UNIX utilites we need to install for the lab.
!pip install wget --quiet
!pip install sqlalchemy --quiet
!pip install ipython-sql --quiet

# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!pip install pgspecial --quiet

!sudo service postgresql start


# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

# Setup a postgres database with name `my_data` to be used
!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS my_data;'

!sudo -u postgres psql -U postgres -c 'CREATE DATABASE my_data;'

# Postgres variables
%env DB_NAME=my_data
%env DB_HOST=localhost
%env DB_PORT=5432
%env DB_USER=postgres
%env DB_PASS=postgres

# Finally, let's make a connnection with the databse
%load_ext sql
%sql postgresql://$DB_USER:$DB_PASS@$DB_HOST/$DB_NAME

#Part 1: Scenario Analysis and Business Rule Formulation
For the project, you’ll be creating a mock database for “Monster University,” a school that takes young monsters (dragons, werewolves, cute “ET” style aliens, vampires, ogres, talking apes, robot assassins, and basically anything else you want) and teaches them to be upstanding members of the monster community. The professors are ALSO monsters. Here are the business rules you’ll need to get started:

1.	Your main goal is to represent the Monsters, Classes, and Locations (buildings/rooms) at the school.
2.	Monsters can either teach classes, take classes, or both.
3.	For all Monsters we need to keep track of their 

  a.	name

  b.	species (what kind of monster are they?)

  c.	date of birth

  d.	their diet, if known (herbivore, carnivore, omnivore, “brains”, “electricity”, etc.)

  e. their GPA (between 0 and 4.0)

  f. the number of credits completed.

4.	For classes, we’d like to track the following:

  a.	The title of the class

  b.	The location in which the class is held

  c.	The duration of the class in minutes (between 30 and 180)

  d.  The days on which the class meets (for example "MWF" or "TH").

  e.  The start time of the class 
  
  f.  The instructor of the class (who is a Monster)

  
5. For locations we want to record:

  a. A two-character building code (e.g., "MH" for Memorial Hall).

  b. The room number between 1 and 2000.

  c. The max capacity between 10 and 300.

6. Some Monsters are Alumni, who have graduated from the school. For alumni we also want to record:

  a. the year they graduated, and
  
  b. their degree (computer science, business, English, etc.).

7.	Formulate THREE additional business rules of your choice. Remember, you’ll eventually need to implement these! At least ONE of these rules should involve a new entity, relationship, and/or constraint (as opposed to simply a new attribute).

##Your New Business Rules Here:
1. All monsters should have an e-mail address.

2. All students have majors, which they can have up to 2 of.

3. Some students are tutors who help other students. 

  a. name

  b. Subject they tutor in

  c. what days & time they are available

#Part 2: Conceptual Modeling using Entity-Relationship Diagramming
In this step, I'd like to create an ERD for the business rules above using [Diagrams.net](https://diagrams.net). You should include all entities, attributes, relationships, and cardinalilities. After you have completed this diagram, you should do the following:

1. Save it as "SVG" file in diagrams.net, and save this to your computer.
2. Edit this cell, and select the "Insert Image" button.
3. Select the SVG file you download.
4. NOTE: SVG files will work much better than larger image files (which may cause problems if you try to insert them).

![Final.drawio(1).svg]()

#Part 3: Logical Modeling
In this part, I'd like you to map the E-R model you've created to a relational model. This involves creating a relational scheme like the following:


```
table_name_1(attribute1 (PK), attribute2, attribute3)
table_name_2(attribute1 (PK), attribute2, attribute3)

```
You should indicate any **primary keys** by using (PK) and any foreign keys with (FK). For primary keys, you'll need to think about whether you can/should use attributes included in the ER diagram, or whether you might want to to create new attributes to serve as keys.

I recommend creating entities in this order:
1. One table for each "strong" entity in the E-R diagram. Decide on a primary key.
2. Tables for subtypes, if needed.
3. One table for each "weak" entity (besides subtypes) in the E-R diagram. Decide on appropriate primary and foreign keys.
4. Tables needed to model M:N relationships present in the E-R diagram.

**PUT YOUR ANSWER BELOW.**

```
Monsters(ID (PK), Diet)
Students(ID (PK), Species_ID (FK), Number, FName, LName, DOB, EMail, Major, GPA, Credits )
Instructors(ID (PK), Species_ID (FK), Email, FName, LName, DOB)
Alumni(ID (PK), Student_ID (FK), Degree, Graduation_Year)
Classes(ID (PK), Name, Subject, Start_Time, End_Time, Duration, Days, Location_ID (FK), Instructor_ID (FK)
Locations(ID (PK), Building, Room, Capacity)
Tutors(ID (PK), Student_ID (FK), Subject, Days) 

```

#Part 4: Normalization
Are your relations normalized? Please provide a 2-3 sentence explanation of why/how they meet the following normal forms. Or, if they don't, describe what needs to be done to change them.

1. **First Normal Form.** 

Yes, each table has a unique ID that acts as a primary key. Also, there are no repeating groups or duplicted data, each table cell has one item.
2. **Second Normal Form.**

Yes, along with 1NF being satisifed, there are no partial dependencies. No attribute depends on only part of a PK, because no PK is multivalued.   
3. **Third Normal Form.** 

Yes, along with 1NF and 2NF being satisfied, there are no transitive dependencies. 

**Revised relational scheme (if needed):**
(Your answer here).

#Part 5: Creating Tables
In this part, you'll be creating the tables to store the data about your monstrous students. This involves "mapping" the relational schema to an actual Postgres Databases. Here's what you need to do:

1. CREATE a SQL table for each of the relations you identied in part 4.
2. Make sure all the attribututes are assigned appropriate data types. For example, INTEGER, VARCHAR, or DATE.
3.  Assign appropriate primary keys and foreign keys.

In the starter code below, I've assumed you'll have tables along the line of the following. However, you should feel free to rename, add, or delete tables as needed!

a. Monsters

b. Classes

c. Locations

d. Monsters2Classes

e. Alumni

In [ ]:
%%sql 
--If you make mistakes you might need to drop tables and start again
--Here's one way of doing this (run this cell as needed)
DROP TABLE IF EXISTS Monsters CASCADE;
DROP TABLE IF EXISTS Classes CASCADE;
DROP TABLE IF EXISTS Classrooms CASCADE;
DROP TABLE IF EXISTS Students2Classes CASCADE;
DROP TABLE IF EXISTS Alumni CASCADE;
DROP TABLE IF EXISTS Students CASCADE;
DROP TABLE IF EXISTS Teachers CASCADE;
DROP TABLE IF EXISTS Tutors CASCADE;
DROP TABLE IF EXISTS Classes2Classrooms CASCADE;
DROP TABLE IF EXISTS Teachers2Classes CASCADE;

 * postgresql://postgres:***@localhost/my_data
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [2]:
%%sql
CREATE TABLE Monsters(
  MonsterID INTEGER PRIMARY KEY NOT NULL,
  FirstName VARCHAR(20) NOT NULL,
  LastName VARCHAR(20),
  Initial CHAR(1),
  DOB date CHECK (dob < NOW()),
  Email VARCHAR(30) NOT NULL,
  Species VARCHAR(15),
  Diet VARCHAR(15)
);

CREATE TABLE Students(
  StudentID INTEGER PRIMARY KEY NOT NULL,
  Monster_ID INTEGER REFERENCES Monsters(MonsterID) NOT NULL,  
  Major VARCHAR(25),
  GPA NUMERIC(3,2) CHECK(GPA BETWEEN 0.00 AND 4.00) DEFAULT(0.00), 
  Credits INTEGER DEFAULT(0)
);

CREATE TABLE Teachers(
  TeacherID INTEGER PRIMARY KEY NOT NULL,
  Monster_ID INTEGER REFERENCES Monsters(MonsterID) NOT NULL,
  Salary NUMERIC(7,2) CHECK(Salary > 0) DEFAULT(50000.00),
  HireDate date CHECK (HireDate <= NOW())
);

CREATE TABLE Alumni(
  Student_ID INTEGER PRIMARY KEY REFERENCES Students(StudentID) NOT NULL,
  Degree VARCHAR(25) NOT NULL,
  GraduationYear INTEGER NOT NULL
);

CREATE TABLE Classrooms(
    ClassroomID INTEGER PRIMARY KEY NOT NULL,
    RoomNumber INTEGER Check(RoomNumber BETWEEN 1 AND 2000) NOT NULL,
    Building CHAR(2) NOT NULL,
    Capacity INTEGER Check(Capacity BETWEEN 10 and 300) NOT NULL
); 
--Renamed Locations to Classrooms
CREATE TABLE Classes(
  ClassID INTEGER PRIMARY KEY NOT NULL,
  Name VARCHAR(25) NOT NULL,
  Days VARCHAR(10) NOT NULL,
  StartTime time NOT NULL,
  EndTime time NOT NULL,
  Duration INTEGER CHECK(Duration BETWEEN 30 AND 180) NOT NULL,
  Subject VARCHAR(15) NOT NULL,
  Classroom_ID INTEGER REFERENCES Classrooms(ClassroomID) NOT NULL,
  Teacher_ID INTEGER REFERENCES Teachers(TeacherID) NOT NULL,
  UNIQUE(StartTime, Classroom_ID) -- Two classes cannot start at the same time and place
  );

  CREATE TABLE Tutors(
  Student_ID INTEGER PRIMARY KEY REFERENCES Students(StudentID),
  Subject VARCHAR(15),
  Days VARCHAR(10),
  Time time
);

--some join tables
CREATE TABLE Students2Classes(
  Student_ID INTEGER REFERENCES Students(StudentID),
  Class_ID INTEGER REFERENCES Classes(ClassID)
);

CREATE TABLE Teachers2Classes(
  Teacher_ID INTEGER REFERENCES Teachers(TeacherID),
  Class_ID INTEGER REFERENCES Classes(ClassID)
);

CREATE TABLE Classes2Classrooms(
  Class_ID INTEGER REFERENCES Classes(ClassID),
  Classroom_ID INTEGER REFERENCES Classrooms(ClassroomID)
);
--I don't think I need this last one because the classroom is already in the classes table

 * postgresql://postgres:***@localhost/my_data
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: --I don't think I need this one because the classroom is already in the classes table but ¯\_(ツ)_/¯]
(Background on this error at: https://sqlalche.me/e/14/f405)

#Part 6: Retrieving, Updating, and Deleting Data
In this part, you'll be inserting some data about Monsters, Classes, and Locations.

##6b. Inserting Data
Here are five monsters to insert your database:

1. Cookie Monster (unknown species) was born on Nov 10, 1969. His eats only cookies. He has 3.2 GPA and has completed 76 credits.
2. Marceline (vampire) was born in Feb 3, 1056. She eats "the color red". She is a teacher with a 0.0 GPA and 0 credits completed.
3. Chewbacca (wookie) was born on May 25, 1977. He is an omnivore. He has a 2.6 GPA and has completed 24 credits.
4. Dracula (vampire) was born on Aug 15, 1543. He drinks blood. He has a 4.0 GPA with 112 credits completed. He also teachers classes.
5. Maleficient (dragon) was born on Oct 26, 1856. She is a carnviore. She has a 3.8 GPA with 63 credits completed.
6. Insert at least FOUR more monsters of your choice. At least two of these should have the same species.

Now, show the data in the table.

Here are three locations to insert into your database:
1. CL 101 ("Castle level 1, room 1") holds 100 people.
2. CL 503 ("Castle level 5, room 3") holds 34 people.
3. MU 220 ("Monster Union room 220") holds 12 people.
4. Insert at least TWO more locations into your database. Both should be in the same building. 

Now, show the data in the table.


Here are two classes to insert into your database:
1. Marceline teaches Intro to Guitar on TH from 2 PM to 4 PM in MU 220.
2. Dracula teaches Monster First Aid on MWF from 9 PM to 10 PM in CL 503.
2. Insert at least ONE more class.

Now, show the data in the table.


"ENROLL" some students in your classes.
1. Cookie Monster, Chewbacca, and Maleficient (and perhaps some of the students you added) will take Monster First Aid.
2. Chewbacca and Malificient (and perhaps some of the students you added) will take Intro to Guitar.
3. Enroll some students in your own class!
Now, show the data in the table.


Finally, insert data for at least ONE alumni, and show the results.

In [ ]:
%%sql 
-- If you make mistakes, you might need to delete existing data from your tables. 
-- One way you might do this is as follows
-- You might need to include different table names!

In [3]:
%%sql
--- Insert the data on Monsters. You'll be using statements like the following:
--INSERT INTO Monsters(id, name, ...) VALUES (1, 'Cookie Monster', ...);

--When you are done inserting, you should display the data, like so:
--SELECT * FROM Monsters;
DELETE FROM Students CASCADE;
DELETE FROM Teachers CASCADE;
DELETE FROM Monsters CASCADE;


INSERT INTO Monsters(MonsterID, FirstName, LastName, Initial, DOB, Email, Species, Diet)
 VALUES(674, 'Cookie', 'Monster', NULL, '1969-11-10', 'Cookie.Monster@MU.edu', NULL, 'Cookies');
INSERT INTO Students(StudentID, Monster_ID, Major, GPA, Credits)
  VALUES(479, 674, 'Baking', 3.20, 76);

INSERT INTO Monsters(MonsterID, FirstName, LastName, Initial, DOB, Email, Species, Diet)
  VALUES(475, 'Marceline', NULL, NULL, '1056-03-02', 'Marceline@MU.edu', 'Vampire', 'Red');
INSERT INTO Teachers(TeacherID, Monster_ID, Salary, HireDate)
  VALUES(159, 475, 80000.00, '1066-05-14');

INSERT INTO Monsters(MonsterID, FirstName, LastName, Initial, DOB, Email, Species, Diet)
  VALUES(832, 'Chewbacca', NULL, NULL, '1977-05-25', 'Chewbacca@MU.edu', 'Wookie', 'Omivore');
INSERT INTO Students(StudentID, Monster_ID, Major, GPA, Credits)
  VALUES(352, 832, 'Aviation', 2.60, 24);

INSERT INTO Monsters(MonsterID, FirstName, LastName, Initial, DOB, Email, Species, Diet)
  VALUES(763, 'Vlad', 'Dracula', NULL, '1543-08-15', 'CountDracula@MU.edu', 'Vampire', 'Blood');
INSERT INTO Students(StudentID, Monster_ID, Major, GPA, Credits)
  VALUES(666, 763, 'History', 4.00, 112);
INSERT INTO Teachers(TeacherID, Monster_ID, Salary, HireDate)
  VALUES(791, 763, 90000.00, '1600-03-17');

INSERT INTO Monsters(MonsterID, FirstName, LastName, Initial, DOB, Email, Species, Diet)
  VALUES(324, 'Maleficient', NULL, NULL, '1856-10-26', 'Maleficient@MU.edu', 'Dragon', 'Carnivore');
INSERT INTO Students(StudentID, Monster_ID, Major, GPA, Credits)
  VALUES(432, 324, 'Magic', 3.8, 63 );

INSERT INTO Monsters(MonsterID, FirstName, LastName, Initial, DOB, Email, Species, Diet)
  Values(999, 'John', 'Smith', 'A', '1990-07-20', 'JohnSmith@MU.edu', 'Human', 'Omnivore'); --humans are the real monsters
INSERT INTO Students(StudentID, Monster_ID, Major, GPA, Credits)
  Values(1000, 999, 'Geology', 3.44, 20);

INSERT INTO Monsters(MonsterID, FirstName, LastName, Initial, DOB, Email, Species, Diet)
  VALUES(1266, 'Smaug', NULL, NULL, NULL, 'Smaug@MU.edu', 'Dragon', 'Carnivore');
INSERT INTO Students(StudentID, Monster_ID, Major, GPA, Credits)
  Values(805, 1266, 'Accouting', 2.87, 12);

INSERT INTO Monsters(MonsterID, FirstName, LastName, Initial, DOB, Email, Species, Diet)
  VALUES(720, 'Shrek', NULL, NULL, '2001-05-18', 'Shrek@MU.edu', 'Ogre', 'Omnimore');
INSERT INTO Teachers(TeacherID, Monster_ID, Salary, HireDate)
  VALUES(100, 720, 67000.00, '2010-02-28');

INSERT INTO Monsters(MonsterID, FirstName, LastName, Initial, DOB, Email, Species, Diet)
  VALUES(721, 'Fiona', NULL, NULL, '2001-05-18', 'Fiona@MU.edu', 'Ogre', 'Omnimore');
INSERT INTO Teachers(TeacherID, Monster_ID, Salary, HireDate)
  VALUES(101, 721, 67000.00, '2010-02-28');

 * postgresql://postgres:***@localhost/my_data
0 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql
SELECT * FROM Monsters 
JOIN Students ON Monsters.MonsterID = Students.monster_id;

In [ ]:
%%sql
SELECT * FROM Monsters 
JOIN Teachers ON Monsters.MonsterID = Teachers.monster_id;

In [4]:
%%sql
DELETE FROM Classrooms;

INSERT INTO Classrooms(ClassroomID, RoomNumber, Building, Capacity)
  VALUES(1, 101, 'CL', 100);

INSERT INTO Classrooms(ClassroomID, RoomNumber, Building, Capacity)
  VALUES(2, 503, 'CL', 34);

INSERT INTO Classrooms(ClassroomID, RoomNumber, Building, Capacity)
  VALUES(3, 220, 'MU', 12);

INSERT INTO Classrooms(ClassroomID, RoomNumber, Building, Capacity)
  VALUES(4, 60, 'DU', 25);

INSERT INTO Classrooms(ClassroomID, RoomNumber, Building, Capacity)
  VALUES(5, 42, 'DU', 40);

  SELECT * FROM Classrooms

 * postgresql://postgres:***@localhost/my_data
0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
5 rows affected.

[(1, 101, 'CL', 100),
 (2, 503, 'CL', 34),
 (3, 220, 'MU', 12),
 (4, 60, 'DU', 25),
 (5, 42, 'DU', 40)]

In [5]:
%%sql
--Insert the data on classes, and show the results
DELETE FROM Classes;

INSERT INTO Classes(ClassID, Name, Days, StartTime, EndTime, Duration, Subject, Classroom_ID, Teacher_ID)
 VALUES(1, 'Intro to Guitar', 'TH', '14:00', '16:00', 120, 'Music', 3, 159);

INSERT INTO Classes(ClassID, Name, Days, StartTime, EndTime, Duration, Subject, Classroom_ID, Teacher_ID)
  VALUES(2, 'Monster First-Aid', 'M, W, F', '21:00', '22:00', '60', 'Health', 1, 791);

INSERT INTO Classes(ClassID, Name, Days, StartTime, EndTime, Duration, Subject, Classroom_ID, Teacher_ID)
  VALUES(3, 'College Algebra', 'T, TH', '12:00', '13:50', 110, 'Maths', 2, 101);

  SELECT * FROM Classes

 * postgresql://postgres:***@localhost/my_data
0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
3 rows affected.

[(1, 'Intro to Guitar', 'TH', datetime.time(14, 0), datetime.time(16, 0), 120, 'Music', 3, 159),
 (2, 'Monster First-Aid', 'M, W, F', datetime.time(21, 0), datetime.time(22, 0), 60, 'Health', 1, 791),
 (3, 'College Algebra', 'T, TH', datetime.time(12, 0), datetime.time(13, 50), 110, 'Maths', 2, 101)]

In [6]:
%%sql
--Insert the alumni data, and show the results
DELETE FROM Alumni;

INSERT INTO Alumni(Student_ID, Degree, GraduationYear)
  VALUES(666, 'History', 1600);

SELECT * FROM Alumni

 * postgresql://postgres:***@localhost/my_data
0 rows affected.
1 rows affected.
1 rows affected.

[(666, 'History', 1600)]

In [7]:
%%sql
--Insert the enrollment data, and show the results
--Cookie Monster, Chewbacca, Dracula, and Maleficient (and perhaps some of the students you added) will take Monster First Aid.
--Chewbacca and Malificient (and perhaps some of the students you added) will take Intro to Guitar.
--Enroll some students in your own class! Now, show the data in the table.
DELETE FROM Students2Classes;
--monster first aid
INSERT INTO Students2Classes(student_id, class_id)
  VALUES(479,2);
  INSERT INTO Students2Classes(student_id, class_id)
  VALUES(352,2);
  INSERT INTO Students2Classes(student_id, class_id)
  VALUES(666,2);
  INSERT INTO Students2Classes(student_id, class_id)
  VALUES(432,2);

--intro to guitar
  INSERT INTO Students2Classes(student_id, class_id)
  VALUES(352,1);
  INSERT INTO Students2Classes(student_id, class_id)
  VALUES(432,1);
  INSERT INTO Students2Classes(student_id, class_id)
  VALUES(805,1);

--others
  INSERT INTO Students2Classes(student_id, class_id)
  VALUES(352,3);
  INSERT INTO Students2Classes(student_id, class_id)
  VALUES(805,3);
  INSERT INTO Students2Classes(student_id, class_id)
  VALUES(432,3);

  SELECT FirstName, LastName, Classes.Name, StudentID FROM Students2Classes
  JOIN Students ON Students2Classes.student_id = Students.StudentID
  JOIN Classes ON Students2Classes.class_id = Classes.ClassID
  JOIN Monsters ON Students.Monster_ID = Monsters.MonsterID
  
  

  ORDER BY Name;

 * postgresql://postgres:***@localhost/my_data
0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
10 rows affected.

[('Chewbacca', None, 'College Algebra', 352),
 ('Maleficient', None, 'College Algebra', 432),
 ('Smaug', None, 'College Algebra', 805),
 ('Maleficient', None, 'Intro to Guitar', 432),
 ('Chewbacca', None, 'Intro to Guitar', 352),
 ('Smaug', None, 'Intro to Guitar', 805),
 ('Chewbacca', None, 'Monster First-Aid', 352),
 ('Maleficient', None, 'Monster First-Aid', 432),
 ('Vlad', 'Dracula', 'Monster First-Aid', 666),
 ('Cookie', 'Monster', 'Monster First-Aid', 479)]

In [8]:
%%sql
DELETE FROM Teachers2Classes;
INSERT INTO Teachers2Classes(Teacher_ID, Class_ID)
  VALUES(159, 1);
  INSERT INTO Teachers2Classes(Teacher_ID, Class_ID)
  VALUES(791, 2);
  INSERT INTO Teachers2Classes(Teacher_ID, Class_ID)
  VALUES(101, 3);

 * postgresql://postgres:***@localhost/my_data
0 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

#6c: Updating Data
In this section, I'd like you to run the following updates

1. MU 220 has been expanded! It can now hold 25 students, instead of 12.
2. Another semester has passed. Add 12 credits to each student's record.
3. [Another update of your choice--describe here.]

After each update please SELECT from the table to show the results.

In [9]:
%%sql
--Update MU 220 and show results
UPDATE Classrooms
SET capacity = 24
WHERE building = 'MU' AND RoomNumber = 220;


SELECT * FROM Classrooms

 * postgresql://postgres:***@localhost/my_data
1 rows affected.
5 rows affected.

[(1, 101, 'CL', 100),
 (2, 503, 'CL', 34),
 (4, 60, 'DU', 25),
 (5, 42, 'DU', 40),
 (3, 220, 'MU', 24)]

In [10]:
%%sql 
--Update student credits and show results
UPDATE Students
SET credits = credits + 12;


SELECT * FROM Students

 * postgresql://postgres:***@localhost/my_data
6 rows affected.
6 rows affected.

[(479, 674, 'Baking', Decimal('3.20'), 88),
 (352, 832, 'Aviation', Decimal('2.60'), 36),
 (666, 763, 'History', Decimal('4.00'), 124),
 (432, 324, 'Magic', Decimal('3.80'), 75),
 (1000, 999, 'Geology', Decimal('3.44'), 32),
 (805, 1266, 'Accouting', Decimal('2.87'), 24)]

In [11]:
%%sql 
--An update of your choice and show the results
UPDATE Teachers
SET Salary = 70000
WHERE TeacherID = 100;

SELECT * FROM Teachers JOIN Monsters ON Teachers.Monster_ID = Monsters.MonsterID

 * postgresql://postgres:***@localhost/my_data
1 rows affected.
4 rows affected.

[(159, 475, Decimal('80000.00'), datetime.date(1066, 5, 14), 475, 'Marceline', None, None, datetime.date(1056, 3, 2), 'Marceline@MU.edu', 'Vampire', 'Red'),
 (791, 763, Decimal('90000.00'), datetime.date(1600, 3, 17), 763, 'Vlad', 'Dracula', None, datetime.date(1543, 8, 15), 'CountDracula@MU.edu', 'Vampire', 'Blood'),
 (101, 721, Decimal('67000.00'), datetime.date(2010, 2, 28), 721, 'Fiona', None, None, datetime.date(2001, 5, 18), 'Fiona@MU.edu', 'Ogre', 'Omnimore'),
 (100, 720, Decimal('70000.00'), datetime.date(2010, 2, 28), 720, 'Shrek', None, None, datetime.date(2001, 5, 18), 'Shrek@MU.edu', 'Ogre', 'Omnimore')]

#Part 7: SQL Queries
In this section, you'll be demonstrating your ability to retrieve data from the database you've created using SQL queries.

##7a: Simple Single table queries
Retreive a list of monsters ordered alphabetically by name. Limit your results to 5.

In [ ]:
%%sql
-- 7a
SELECT * FROM Monsters
ORDER BY FirstName --or LastName
LIMIT 5;

 * postgresql://postgres:***@localhost/my_data
5 rows affected.

[(832, 'Chewbacca', None, None, datetime.date(1977, 5, 25), 'Chewbacca@MU.edu', 'Wookie', 'Omivore'),
 (674, 'Cookie', 'Monster', None, datetime.date(1969, 11, 10), 'Cookie.Monster@MU.edu', None, 'Cookies'),
 (721, 'Fiona', None, None, datetime.date(2001, 5, 18), 'Fiona@MU.edu', 'Ogre', 'Omnimore'),
 (999, 'John', 'Smith', 'A', datetime.date(1990, 7, 20), 'JohnSmith@MU.edu', 'Human', 'Omnivore'),
 (324, 'Maleficient', None, None, datetime.date(1856, 10, 26), 'Maleficient@MU.edu', 'Dragon', 'Carnivore')]

##7b. Single-table queries with WHERE and LIKE
Retrieve JUST the classes that meet on Wednesday (where Wednesday is the 'W' in strings like 'MWF').

In [ ]:
%%sql
-- 7b
SELECT * FROM classes
WHERE days LIKE '%W%';

 * postgresql://postgres:***@localhost/my_data
1 rows affected.

[(2, 'Monster First-Aid', 'M, W, F', datetime.time(21, 0), datetime.time(22, 0), 60, 'Health', 1, 791)]

##7c. Single-table queries with aggregate functions
Retrieve the minimum, maximum, and average GPA included in your database. You should label the columns "Min GPA", "Max GPA", and "Avg GPA".

In [ ]:
%%sql 
--7c
SELECT Min(GPA) as "Min GPA", Max(GPA) AS "Max GPA", ROUND(Avg(GPA),2) as "Avg GPA" FROM Students;

 * postgresql://postgres:***@localhost/my_data
1 rows affected.

[(Decimal('2.60'), Decimal('4.00'), Decimal('3.32'))]

##7d. Single table queries with GROUP BY
Retrieve a list of each monster species included in the database, along with a count of how many monsters are members of the species.

In [ ]:
%%sql
--7d
SELECT Species, COUNT(Species) FROM Monsters
GROUP BY Species;

 * postgresql://postgres:***@localhost/my_data
6 rows affected.

[(None, 0),
 ('Vampire', 2),
 ('Dragon', 2),
 ('Wookie', 1),
 ('Ogre', 2),
 ('Human', 1)]

##7e. Single-table queries with HAVING
Retrieve a list of the buildings (not rooms!) in your data that have a total capacity of more than 20. (A building's capacity is simply the sum of the capacities of all the classrooms it contains).

In [ ]:
%%sql
--7e
SELECT building, sum(capacity) FROM Classrooms
GROUP BY building
HAVING sum(capacity) > 20
ORDER BY building;

 * postgresql://postgres:***@localhost/my_data
3 rows affected.

[('CL', 134), ('DU', 65), ('MU', 24)]

##7f. Subqueries
Retrieve a list of monsters names and species, together with a count of how many members of that species are in the database.

In [56]:
%%sql
-- 7f
DROP TABLE IF EXISTS temp;

CREATE TABLE Temp AS
(SELECT Species, count(species) FROM Monsters GROUP BY Species);

SELECT firstname, lastname, temp.species, temp.count FROM temp JOIN Monsters ON temp.species = monsters.species;

--best i could do, but i don't think this is what you wanted.

 * postgresql://postgres:***@localhost/my_data
Done.
6 rows affected.
8 rows affected.

[('Vlad', 'Dracula', 'Vampire', 2),
 ('Marceline', None, 'Vampire', 2),
 ('Smaug', None, 'Dragon', 2),
 ('Maleficient', None, 'Dragon', 2),
 ('Chewbacca', None, 'Wookie', 1),
 ('Fiona', None, 'Ogre', 2),
 ('Shrek', None, 'Ogre', 2),
 ('John', 'Smith', 'Human', 1)]

#7g. Simple multi-table queries with JOIN
Retrieve the names and GPAs of students enrolled in Intro to Guitar.

In [ ]:
%%sql
-- 7g
SELECT FirstName, LastName, GPA FROM Monsters
JOIN Students ON MonsterId = Students.Monster_ID
JOIN Students2Classes ON StudentID = Students2Classes.Student_ID
WHERE Class_ID = 1;

 * postgresql://postgres:***@localhost/my_data
3 rows affected.

[('Chewbacca', None, Decimal('2.60')),
 ('Maleficient', None, Decimal('3.80')),
 ('Smaug', None, Decimal('2.87'))]

##7h. More complex multi-table queries
Retrieve the total students taught by each teacher in the database. You should have one row of output for each teacher with their name and the total number of students.

In [ ]:
%%sql 
-- 7h
SELECT COUNT(student_ID) AS Students, Teacher_ID, firstname, lastname FROM Students2Classes
JOIN Teachers2Classes ON Students2Classes.Class_ID = Teachers2Classes.Class_ID
JOIN Teachers ON Teachers2Classes.Teacher_ID = TeacherID
JOIN Monsters ON Teachers.Monster_ID = MonsterID
GROUP BY Teacher_ID, firstname, lastname;

 * postgresql://postgres:***@localhost/my_data
3 rows affected.

[(3, 101, 'Fiona', None),
 (3, 159, 'Marceline', None),
 (4, 791, 'Vlad', 'Dracula')]

##7i. Creation of Views
Create a VIEW based on a SQL query of your choice. Now "SELECT *" from this view to show the results.

In [ ]:
%%sql
-- 7i
CREATE VIEW Omnivores AS
SELECT FirstName, LastName
FROM monsters
WHERE diet = 'Omnivore';

SELECT * FROM Omnivores;

 * postgresql://postgres:***@localhost/my_data
Done.
1 rows affected.

[('John', 'Smith')]

##7g. Creation of Indexes.
Create an index on the column that contains the Monster's names.

In [ ]:
%%sql
-- 7f
CREATE INDEX monster_names
ON Monsters (firstname, lastname, initial);

 * postgresql://postgres:***@localhost/my_data
Done.

[]

#8. Database Design Philosophy
In 150 to 200 words, answer the question **"What are the keys to designing a successful database, and how is this reflected in your own work here?"**

  

**There  are many things to keep in mind when creating a database. One of the most important is knowing what sort of information you are going to be storing in the data base. You need to work with whomever you are creating the database for to ensure that all their needs will be met. It is also important to create documentation, so they will understand how to use the database.**

**Some other things are making sure there are no redundancies or inconsistencies in your database. The process of normalization should eliminate any instances of this. Consistency and clarity are also important. Tables and columns should not be named in ways that are confusing or misleading. This also applies to business rules, should be as clear as possible.**

#9. Be Creative!
In 150 to 200 words, tell me about what you've done (or will do, in this section) that goes above and beyond the "requirements" of the assignment. Why did you choose to do this? What did you learn from doing it?

**One of the things I did was add some additional constraints and/or attributes  that I felt would make sense in a database like this. For example, I thought it strange to include 'StartTime' and "duration' for classes, but not mention an 'endtime', or the constraint that (hopefully) prevents adding multiple classes that start in the same time and place. Honestly, there is not a lot of 'extra' things I added, as I felt it would be better to keep things as simple as possible.**

(Feel free to add code cells below if needed.)

In [ ]:
%%sql
-- Include code, if needed.

#10. Share Work With Me on Github
Finally, I'd like you to share your work with me on Github. If you are interesting in working in computer science or IT, it's good to have a basic understanding of how Github works, as its something like an industry "standard" way of sharing code. 
 
Here's what you need to do:
1. Create an account on https://github.com/ 
2. Create a PUBLIC repository called "database_sql".
3. Save your **completed** lab to this repository. From colab, all you need to do is go to "File: Save a copy in Github."

An in-depth tutorial on using Github is here:
https://docs.github.com/en/get-started/quickstart/hello-world 
The only things you need to worry about are (a) creating an account and (b) creating a repository. We won't be worry about branches, commits, or pulls (though you are free to read up on these!). 

Once you've done this, please write down your:

USERNAME: 

REPOSITORY LINK:

And that's it! I've enjoyed having you in class--enjoy the rest of the semster :).

**You should also submit this to the D2L Assignment folder.**